<h1>Productos</h1>
<app-productos></app-productos>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto d-flex align-items-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <p *ngIf="!editar">Agregar Producto</p>
        <p *ngIf="editar">Editar Producto</p>
      </button>
      <div class="col-6">
        <h5 class="mx-3" *ngIf="editar">Producto Seleccionado:  {{producto.value.nombre}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-5 my-4 mx-auto d-flex align-items-center">
        <button class="btn btn-warning" *ngIf="editar" [routerLink]="'/productos'">Quitar Seleccion</button>
      </div>
    </div>
  </div>
</div>
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="exampleModalLabel"><p *ngIf="!editar">Agregar Producto</p><p *ngIf="editar">Editar Producto</p></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="producto">
        <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text"
                        formControlName="nombre"
                        class="form-control" required />
                        <label for="inputPassword5" class="form-label">Codigo</label>
                        <input type="text"
                        formControlName="codigo"
                        class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Precio</label>
                        <input type="number"
                        formControlName="precio"
                        class="form-control" />
                    </div>
                    <label for="selectOption">Rubro</label>
                    <select formControlName="rubro_id" class="form-control" id="selectOption">
                        <option *ngFor="let rubro of rubros" [value]="rubro.id">{{ rubro.nombre}} ({{ rubro.id}})
                        </option>
                    </select>
                    <button *ngIf="!editar" type="submit" class="btn btn-primary" (click)="onCreate()" data-bs-dismiss="modal" aria-label="Close">Agregar</button>
                    <button *ngIf="editar" type="submit" class="btn btn-primary" (click)="onEdit()" data-bs-dismiss="modal" aria-label="Close">Editar</button>

                </div>
        </form> 
      </div>
    </div>
  </div>