<p>Productos</p>
<app-productos></app-productos>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Producto
</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="addForm" >
        <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text"
                        formControlName="nombre"
                        class="form-control" required />
                          <p *ngIf="addForm.get('nombre') == null">El campo es requerido</p>
                        <label for="inputPassword5" class="form-label">Codigo</label>
                        <input type="text"
                        formControlName="codigo"
                        class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Precio</label>
                        <input type="number"
                        formControlName="precio"
                        class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Rubro ID</label>
                        <input type="text"
                        formControlName="RUBRO_ID"
                        class="form-control" />
                    </div>
                    <button class="btn btn-primary" (click)="onCreate()" type="submit">Agregar</button>
                </div>
        </form>
      </div>
    </div>
  </div>