<p>Lista de Productos</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Codigo</th>
        <th scope="col">Precio</th>
        <th scope="col">Codigo de Rubro</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{producto.nombre}}</th>
        <td>{{producto.codigo}}</td>
        <td>${{producto.precio}}</td>
        <td>{{producto.RUBRO_ID}}</td>
        <td><button class="btn btn-danger" (click)="delete(producto.id)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>