<h2 class="text-center">Bienvenido/a, {{username}}</h2>
<h1 class="text-center">Su Administrador de Ventas!</h1>
<div *ngIf="checkToken() == false">
    <h2>Haga Click en Log in para ingresar</h2>
    <button *ngIf="checkToken() == false" class="btn btn-outline-success "  [routerLink]="'login'">Login</button>
</div>
<div *ngIf="checkToken() == true">
    <h4 class="text-center">Categorías disponibles</h4>
    <ul class="text-center list-unstyled">
        <li [routerLink]="'rubros'">
            Rubros
        </li>
        <li [routerLink]="'productos'">
            Productos
        </li>
        <li [routerLink]="'clientes'">
            Clientes
        </li>
    </ul>
    <h4 [routerLink]="'ventas'" class="text-center">Registrar Ventas</h4>
</div>
