<p>Rubros</p>
<app-rubros></app-rubros>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <p *ngIf="!editar">Agregar Rubro</p>
    <p *ngIf="editar">Editar Rubro</p>
</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" *ngIf="editar" id="exampleModalLabel">Editar Rubro</h5>
          <h5 class="modal-title" *ngIf="!editar" id="exampleModalLabel">Agregar Rubro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="addForm" >
        <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text"
                        formControlName="nombre"
                        class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Codigo</label>
                        <input type="text"
                        formControlName="codigo"
                        id="inputPassword5" class="form-control" />
                    </div>
                    <button *ngIf="!editar" type="submit" class="btn btn-primary" (click)="onCreate()" data-bs-dismiss="modal" aria-label="Close">Agregar</button>
                    <button *ngIf="editar" type="submit" class="btn btn-primary" (click)="onEdit()" data-bs-dismiss="modal" aria-label="Close">Editar</button>

                </div>
        </form>
      </div>
    </div>
  </div>